$logo-size: min(9.5vw, 58px);
$logo-color: var(--ion-color-primary);

#logo {
  width: 100%;
  max-width: 521px;
}

.button-large {
  width: 100%;
  max-width: 450px;
}

.auth-content {
  p:not(.copy), a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 0;
  }
}

ion-skeleton-text {
  @extend .button-large;
}